<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Created At</th>
      <th>Expire At</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let policy of policies">
      <td>{{ policy.policyNumber }}</td>
      <td>
        {{ policy.creationDate.toMillis() | date: "dd.MM.yyyy HH:mm:ss" }}
      </td>
      <td>
        {{ policy.expireDate.toMillis() | date: "dd.MM.yyyy HH:mm:ss" }}
      </td>
      <td>{{ policy.policyAmount }}</td>
      <td>
        <button (click)="delete(policy.id)">Delete</button>
      </td>
      <!-- <td
        style="vertical-align: top"
        [hidden]="order.payload.doc.data().completed"
        (click)="markCompleted(order)"
      >
        <i class="material-icons">check</i>
      </td>
      <td
        style="vertical-align: top"
        [hidden]="order.payload.doc.data().completed"
        (click)="deleteOrder(order)"
      >
        <i class="material-icons">delete_forever</i>
      </td> -->
    </tr>
  </tbody>
</table>
